.pane-ca-catalog-panel-pane-1 .view-ca-catalog .views-view-grid td {
  width: 25%;
  text-align: center;
  padding-bottom: 10px;
}

.pane-ca-catalog-panel-pane-3 .view-ca-catalog .views-view-grid td {
  width: 33%;
  text-align: center;
  padding-bottom: 10px;
}